
body {
    width: 60em;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.datos_libro {
    float: left;
    width: 16em;
}

.principal {
    float: right;
    width: 44em;
}

.lista_1 {
   float: left;
   width: 33%;
   list-style: none;
   margin-right: 2px;
}

.lista_2 {
    float: left;
    width: 33%;
    list-style-type: none;
    margin-right: 2px;
}

.lista_3 {
    float: left;
    width: 33%;
    list-style: none;
    margin-right: 2px;
}

.lista {
    padding: 0;
}