
ul {
    display: flex;
    gap: 2px;
    padding: 0;
    list-style: none;
    justify-content: start;
}

ul li {
    flex-grow: 1;
    background: rgba(123, 198, 199, 0.8);    
}

ul a, ul a:link {
    display: block;
    padding: 8px;
    width: 100%;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}