/* menu */

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}
   
/* items del menu */

#menu ul li {
    background-color:#2e518b;
}

/* enlaces del menu */

#menu ul a {
    display:inline;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

/* items del menu */

#menu ul li {
    position:relative;
    float:none;
    margin-right:88%;
    padding:5px;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
    background:#5b78a7;
}

/* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:100%;
    background:#eee;
    padding:0;
    top: 0%;
}

/* items del menu desplegable */

#menu ul ul li {
    float:none;
    width:150px;
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover > ul {
    display:block;
}
