
h1 {
    border: 2px solid #00F;
    padding: 10px;
}

h2 {
    border: 2px solid #AAA;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    border: 2px solid #0F0;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

li {
    margin-top: 13px;
    margin-bottom: 1px;
    position: relative;
    bottom: 3px;
}
