
.teal {
    color: teal;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.purple {
    color: purple;
}

.olive {
    color: olive;
}

.fuchsia {
    color: fuchsia;
}

.green{
    color: green;
}

.segunda {
    background-color: red;
}

.tercera {
    background-color: green;
}

.cuarta {
    background-color: blue;
}
